.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.section-padding {
  @apply px-4 md:px-6 lg:px-10;
}

.container-custom {
  width: 100%;
  max-width: var(--container-xl);

  margin-inline: auto;

  @apply px-4 md:px-6 lg:px-8;
}

.card-shadow {
  box-shadow: var(--shadow-card);
}